@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customers</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<div class="container">
    <table class="table table-bordered table-dark">
        <thead>
        <th>Customer Id</th>
        <th>Customer Name</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Furnitures</th>
        </thead>
        <tbody id="details">
        </tbody>
    </table>
</div>
<script>
        $(document).ready(()=>{
            $.ajax({
                url : "http://localhost:32840/api/FurnitureStore/Purchases",
                type : 'GET',
                contentType: 'application/json',
                success : function (data){
                    let html = `<tr>`;
                    data.forEach(element => {
                        html += `<td>${element.customerId}</td>`
                        html += `<td>${element.name}</td>`
                        html += `<td>${element.phone}</td>`
                        html += `<td>${element.address}</td>`
                        html += `<td><table><thead><th>Furniture</th><th>Price</th></thead><tbody>`;
                        element.furnitures.forEach(furniture => {
                            html+=`<tr><td>${furniture.title}</td><td>${furniture.price}</td></tr>`
                        });
                        if (element.furnitures.length == 0 ) {
                            html+=`<tr><td></td><td></td></tr>`
                        }
                        html += `</tbody>`
                        html +=`</table>`
                        html += `</td>`
                        html += `</tr>`;
                    });

                    $("#details").html(html);
                },
                error : function (err){
                    alert(err);
                }
            })
        })
</script>