@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h3><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Customers">List All Customers With Furniture Details</a></h3>
    <h3><a class="nav-link" asp-area="" asp-controller="Home" asp-action="AddCustomer">Add New Customer</a></h3>
    <h3><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Furnitures">List All Furnitures</a></h3>
    <h3><a class="nav-link" asp-area="" asp-controller="Home" asp-action="UpdateFurniture">Update Furniture Price</a></h3>
    <h3><a class="nav-link" asp-area="" asp-controller="Home" asp-action="DeleteFurnitures">Delete Furniture using Customer ID</a></h3>
</div>
